<form action="/add" method="POST">
    <p>Time: </p>
    <input type="text" name="time" placeholder="Digite um time...">
    <p>Cidade</p>
    <input type="text" name="cidade" placeholder="Digite uma cidade...">
    <p>Estado</p>
    <input type="text" name="estado" placeholder="Digite um estado...">

    <button type="submit">Cadastrar</button>
</form>